@model FactoryOrganizerWebsite.Models.FilePathToWebsiteInformationForProduct

@{
    ViewBag.Title = "PaymentSuccessful";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Payment Successful.  Your purchase will go to production soon.</h2>

